.DisplayCard {
    display: flex;
    flex-flow: column;
    width: 80%;
    align-self:center;
    margin: 20px auto;
    padding: 20px 50px;
    color: white;
    background-image: url('../../assets/display_card2.jpg');
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.QuestionStats, .ButtonsRow {
    display: flex;
    flex-flow: row wrap;
}

.QuestionStats {
    margin: 40px 0;
}

.QuestionData {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.QuestionData, .Buttons {
    margin: 0 10px;
}