@import '../../variables.css';

.navbar {
    height: 60px;
    padding: 5px 20px;
    background-color: var(--primaryColor3);
}
.navbar, .user-nav {
    display: flex;
    align-items: center;
}

.user-nav {
    justify-content: end;
    cursor: pointer;
}

.appbarTitle {
    margin-right: auto;
    text-decoration: none;
    color: black;
}
.appbarTitle, .colorText {
    font-size: 30px;
    font-weight: bolder;
}
.colorText {
    color:aqua;
}
.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.userName {
    font-size: 15px;
    padding: 0 15px 0 0;
}