@import '../../Global.css';
@import '../../variables.css';

.SideBar {
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0;
    border-radius: 0;
    justify-content: flex-start;
    height: 100vh;
    width: 200px;
}

.SideBar > * {
    margin: var(--midGap) var(--smallestGap);
    color: var(--onPrimaryColor);
    width: 85%;
}

.icon {
    font-size: 30px;
}

.side-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
    border-radius: 5px;
    color: black;
    padding: 5px 0;
}
.side-btns:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}
.side-btns:active:active {
    background-color: cornflowerblue;
}

.active-btn {
    box-shadow: 2px 2px 2px 0 black;
    transform: scale(1.05);
}
