@import '../variables.css';

.course-enroll-card {
    display: flex;
    width: 80%;
    margin: 10px auto 5px auto;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    box-shadow: var(--inactiveShadow);
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    background-color: var(--surfaceColor);
    color: var(--onSurfaceColor);
}

.course {
    flex: 9;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
    width:100%;
    height: auto;
}

.course-name {
    margin: 5px 10px;
}

.status {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.status div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}