@import '../Global.css';

li {
    margin: 0 0 var(--midGap) 0;
    transition: transform 0.2s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
}

.Selected {
    color: orange;
    transform: scale(1.1);
}