@import '../variables.css';

.course-enroll-card {
    display: flex;
    width: 75%;
    margin: 15px auto;
    border: none;
    border-radius: 10px;
    box-shadow: var(--inactiveShadow);
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    background-color: var(--surfaceColor);
    color: var(--onSurfaceColor);
}

.course {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
    width:100%;
    height: auto;
}

.course-name {
    margin: 0 10px;
}

.status div {
    margin: 0;
}

.status {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#unenroll-icon {
    background-color: crimson;
    fill: white;
    font-size: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#unenroll-icon:hover {
    transform: scale(1.1);
}