@import '../variables.css';

.menu-item {
    margin: 0 0 var(--midGap) 10px;
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 5px;
    width: 140px;
    padding: 5px 10px;
}

.menu-item:hover {
    background-color: var(--primaryColor2Hover);
    transform: scale(1.1);
}

.Selected {
    background-color: var(--primaryColor2);
    transform: scale(1.1);
}

.Selected:hover {
    background-color: var(--primaryColor2);
}