.CourseList {
    overflow-y: auto;
    overflow-x: hidden;
}
   
.CourseList::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor2);
    outline: 1px solid slategrey;
    /* visibility: hidden; */
}