@import '../variables.css';

li {
    margin: 0 0 var(--midGap) 0;
    transition: transform 0.2s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
}

.Selected {
    color: var(--primaryColor2);
    transform: scale(1.1);
}