.CourseList {
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    margin: 0;
}

.CourseList::-webkit-scrollbar {
    width: 5px;
}
   
.CourseList::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor2);
    outline: 1px solid slategrey;
    /* visibility: hidden; */
}