@import '../Global.css';

* {
    font-weight: bold;
}

.App {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}


.QuoteCard {
    background-color: pink;
}

#logoImage {
    border-radius: var(--midRadius);
    max-width: 95%;
    height: auto;
}

#loginButton {
    margin: 20px 0 0 0;
}


.LoginCard > h3 {
    max-width: 500px;
    text-align: center;
}


@media only screen and (min-width: 700px) {
    .App {
        height: 100vh;
    }
}
