.page {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.page-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page-content {
    flex: 8;
    display: flex;
    flex-direction: column;
    width: 100%;
}