@import '../variables.css';

.q-footer {
    background-color: var(--primaryColor3);
    color: #597699;
    flex: 1;
    width: 100%;
}

.q-user {
    float: left;
    font-size: 10px; 
    margin: 10px 0px 10px 10px;
}

.q-time {
    float: right;
    font-size: 10px;
    margin: 10px 10px 10px 0px;
}