@import '../variables.css';

.q-card-main {
    display: flex;
    width: 80%;
    margin: 10px auto 25px auto;
    flex-direction: column;
    border: none;
    border-radius: var(--smallestRadius);
    box-shadow: var(--inactiveShadow);
    overflow: hidden;
    background-color: var(--surfaceColor);
    color: var(--onSurfaceColor);
}

.q-question-upvote {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}

.q-question {
    flex: 8;
    width: 100%;
}