.q-card-main {
    display: flex;
    width: 80%;
    margin: 10px auto 5px auto;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    background-color: white;
}

.q-question-upvote {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}

.q-question {
    flex: 8;
    width: 100%;
}