@import '../Global.css';
@import '../variables.css';

.SideBar {
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0;
    border-radius: 0;
    justify-content: flex-start;
    height: 100vh;
    animation: none;
}

.SideBar > * {
    margin: var(--midGap) var(--smallestGap);
    color: var(--onPrimaryColor);
    width: 90%;
}

