@import '../Global.css';
@import '../variables.css';

.SideBar {
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0;
    border-radius: 0;
    justify-content: flex-start;
    height: 100vh;
    animation: none;
}

.SideBar > * {
    margin: var(--midGap) var(--smallestGap);
    color: var(--onPrimaryColor);
    width: 90%;
}

#enrollButton {
    font-size: 16px;
    width: 80%;
    background-color: var(--primaryColor2);
    border-radius: var(--smallRadius);
    color: var(--onPrimaryColor);
    cursor: pointer;
    display: block;
    margin: auto;
    text-decoration: none;
}