@import '../variables.css';

.tag {
    height: 15px;
    background-color: var(--surfaceColor);
    color: #597699;
    border-radius: 0px 10px;
    display: inline-block;
    margin: 5px 0px 0px 10px;
    padding: 2px;
}

.tag-text {
    margin: 0 auto;
    font-size: 10px;
    padding: 0 5px;
    width: auto;
}